:root {
  --color-dark: #111111;
  /* --color-light: #282828; */
  --color-light: #1d1d1d;
  --color-light2: #2E2E2E;
  --color-light3: #5c5c5c;
  --color-yellow: #E3B748;
}

.website {
  font-family: "Intra", sans-serif !important;
}